<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings><add name="sistema_notasEntities" connectionString="metadata=res://*/Model.sistema_notas.csdl|res://*/Model.sistema_notas.ssdl|res://*/Model.sistema_notas.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=sistema_notas;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>